[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/IconFontCppHeaders"]
	path = third_party/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "third_party/taglib"]
	path = third_party/taglib
	url = https://github.com/taglib/taglib.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/SDL_mixer"]
	path = third_party/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
